<button class="btn delete" data-toggle="collapse" data-target=".delete-confirm">
  Delete this post
</button>
<div aria-expanded="false" class="collapse delete-confirm">Are you sure?
  <button class="btn delete-post" type="submit" data-id="{{post._id}}">
    Delete Post
  </button>
</div>
