@import '~bootstrap/scss/bootstrap';


#authenticated {
display: none;
}

body {
  background: url(https://i.imgur.com/8CrO8Tv.jpg) no-repeat center center fixed;
  background-color: black;
  background-size: contain;
  color: lightblue;
  height: 100%;
  overflow: scroll;
}

.btn {
  background-color: green;
}

form {
  margin: 25px;
}
