@import '~bootstrap/scss/bootstrap';


#authenticated {
display: none;
}

body {
  background: url(https://i.imgur.com/8CrO8Tv.jpg) no-repeat center center fixed;
  background-color: black;
  background-size: cover;
  color: #d4ccce;
  height: 100%;
}

.btn {
  background-color: #7c3f04;
  border-radius: 40%;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  color: #d4ccce;
  margin: 6px 4px;
  padding: 5px 10px;
}

.btn:hover {
  background-color: #f46f04;
}

.navbar {
  background-color: rgba(13, 4, 4, .5);
}

.post-modify-row {
  display:flex;
  justify-content: flex-end;

}

form {
  margin: 25px;
}

main {
  @include make-container;

  section {
    @include make-col-ready;
    @include media-breakpoint-up(xl) {
      @include make-col(4);
    }
    background: rgba(13, 4, 4, .5);
    border: 1px solid;
    color: #d4ccce;
    cursor: pointer;
    margin: -1px;
    outline: none;
    padding: 1rem;

    p {
      margin-bottom: 0;
    }
  }
}
